<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="DyAcl Tests">
            <directory>tests/DyAcl/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/DyAcl/</directory>
        </whitelist>
    </filter>
</phpunit>